h2 {
    font-size: 50px;
    font-family: cursive;
    font-weight: lighter;
}

body {   
    text-align: center;
    background: purple;
}

header {
    background: aqua;
    padding: 10px;
}

.menu { 
    background: rgb(27, 13, 221);
    padding: 10px;
}

.menu li {
    list-style: none;
    padding: 15px;
    font: bold 20px verdana;
    display: inline-block;
}

footer {
    background: red;
    padding: 15px;
}

p { 
    font-family: cursive;
}